{{#partial "content"}}
        <section>
            <h1>{{ title }}</h1>
            <p>{{body}}</p>

        </section>
        <section class="entry-comments">
            <div class="container">
                    <h2>Comments</h2>
                        <ul>

                        </ul>
                        {{#each comment}}
                            <h2> {{ creator }} </h2>
                            <ul> {{ comment}} </p>
                        {{/each}}
                        </ul>
            </div>
        </section>
{{/partial}}

{{> base.hbs}}