{{#partial "content"}}

    <section>
        <ul>
        {{#each blogEntry}}
            <li>
                <form action="/blog/{{ slug }}/vote" method="post">
                    <a href="/detail/{{slug}}"> {{ title }} </a>  ( {{voteCount}} votes) <button>Vote</button>
                </form>

            </li>
        {{/each}}
        </ul>
        <form action="/sign-in" method="get">
            <button>Click to sign in!</button>
        </form>
    </section>
    <div class="container">
        <div class="entry-list">
            <article>
                <h2><a href="http://localhost:4567/d1">The best day I’ve ever had</a></h2>
                <time datetime="2016-01-31 1:00">January 31, 2016 at 1:00</time>
            </article>
            <article>
                <h2><a href="http://localhost:4567/d2">The absolute worst day I’ve ever had</a></h2>
                <time datetime="2016-01-31 1:00">January 31, 2016 at 1:00</time>
            </article>
            <article>
                <h2><a href="http://localhost:4567/d3">That time at the mall</a></h2>
                <time datetime="2016-01-31 1:00">January 31, 2016 at 1:00</time>
            </article>
            <article>
                <h2><a href="http://localhost:4567/d4">Dude, where’s my car?</a></h2>
                <time datetime="2016-01-31 1:00">January 31, 2016 at 1:00</time>
            </article>
        </div>
    </div>

{{/partial}}

{{> base.hbs}}