{{#partial "title"}} Signed In!! {{/partial}}
{{#partial "head"}}<meta http-equiv="refresh" content="3;url=/" />{{/partial}}

{{#partial "content"}}

    <h1>Welcome {{username}}!</h1>
    <h2>Redirecting in 3 seconds...</h2>

{{/partial}}

{{> base.hbs}}
