{{#partial "title"}} Sign In!! {{/partial}}

{{#partial "content"}}

    <div class="container">

        {{#if username }}
            <h1>Welcome {{ username }}!</h1>
        <form action="/blog" method="get">
            <button>Proceed To Blog!</button>
        </form>
        {{ else }}
            <h1>Welcome People!</h1>
            <form action="/sign-in" method="post">
                <input type="text" placeholder="What's your username?" name="username">
                <button>Sign in</button>
            </form>
        {{/if}}
    </div>


{{/partial}}

{{> base.hbs}}
